@charset "utf-8";

/* Layout */
body.closeHidden {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap {
  display: flex;
  min-width: calc(59.26 * var(--vwu, 1vw));
  flex-direction: column;
  min-height: 100%;
}
.contents {
  position: relative;
  flex: 1;
  background: #fff;
  /* background: #f5faff; */
  padding: calc(12.04 * var(--vwu, 1vw)) 0 0;
}
.contents .lyInner {
  padding: calc(5.56 * var(--vwu, 1vw)) calc(3.7 * var(--vwu, 1vw));
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(12.04 * var(--vwu, 1vw));
  z-index: 10;
  background: #fff;
  border-bottom: 1px solid #dee2e6;
}
.header .alignLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.header .alignRight {
  position: absolute;
  top: 0;
  right: 0;
}
.header .btnPrev {
  display: inline-block;
  vertical-align: top;
  text-indent: -9999em;
  width: calc(9.26 * var(--vwu, 1vw));
  height: calc(12.04 * var(--vwu, 1vw));
  background: url("../images/common/btn_header_prev.png") no-repeat 50% / calc(4.63 * var(--vwu, 1vw)) calc(4.63 * var(--vwu, 1vw));
}
.header .btnMenu {
  display: inline-block;
  vertical-align: top;
  text-indent: -9999em;
  width: calc(11.11 * var(--vwu, 1vw));
  height: calc(12.04 * var(--vwu, 1vw));
  background: url("../images/common/btn_header_menu.svg") no-repeat 50% / calc(7 * var(--vwu, 1vw)) calc(7 * var(--vwu, 1vw));
}
.header .btnClose {
  display: inline-block;
  vertical-align: top;
  text-indent: -9999em;
  width: calc(11.11 * var(--vwu, 1vw));
  height: calc(12.04 * var(--vwu, 1vw));
  background: url("../images/common/btn_header_close.png") no-repeat 50% / calc(4.63 * var(--vwu, 1vw)) calc(4.63 * var(--vwu, 1vw));
}
.header .alignTitle {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 calc(9.26 * var(--vwu, 1vw));
}
.header .alignTitle h1 {
  font-size: calc(4.9 * var(--vwu, 1vw));
  font-weight: 500;
  position: relative;
  top: 2px;
}
.header .alignTitle:first-child {
  padding-left: calc(3.7 * var(--vwu, 1vw));
}

.main {
  background: linear-gradient(#4591e7, #004491);
}
.main .header {
  height: calc(14.81 * var(--vwu, 1vw));
  background: linear-gradient(#4591e7, #418be1);
}
.main .header .logo {
  display: inline-block;
  vertical-align: top;
  text-indent: -9999em;
  width: calc(30 * var(--vwu, 1vw));
  height: calc(14.81 * var(--vwu, 1vw));
  background: url("../images/common/header_logo.png") no-repeat 50% / calc(26 * var(--vwu, 1vw)) auto;
}
.main .header .btnMenu {
  height: calc(14.81 * var(--vwu, 1vw));
  background-image: url("../images/common/btn_header_menu_white.svg");
}

.main .header .alignTitle {
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}
.main .header .alignTitle span {
  font-size: calc(4.1 * var(--vwu, 1vw));
  font-weight: 500;
  position: relative;
  top: 6px;
  margin-left: 2px;
}
.main .contents {
  color: #fff;
  padding: calc(24 * var(--vwu, 1vw)) calc(8.33 * var(--vwu, 1vw)) calc(6.11 * var(--vwu, 1vw)) calc(8.33 * var(--vwu, 1vw));
  background: transparent url("../images/contents/bg_main.png") no-repeat 50% 100% / calc(100 * var(--vwu, 1vw)) auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main .user {
  font-size: calc(7.41 * var(--vwu, 1vw));
  position: relative;
  padding: 0 0 calc(2.7 * var(--vwu, 1vw));
}
.main .user:after {
  content: "";
  width: calc(5.56 * var(--vwu, 1vw));
  height: calc(0.19 * var(--vwu, 1vw));
  background: #fff;
  position: absolute;
  left: calc(0.37 * var(--vwu, 1vw));
  bottom: 0;
}
.main .user .name {
  font-weight: 900;
  color: #e9f2ff;
}
.main .recently {
  padding: calc(4.56 * var(--vwu, 1vw)) calc(46.3 * var(--vwu, 1vw)) calc(3.56 * var(--vwu, 1vw)) calc(8.33 * var(--vwu, 1vw));
  margin: 0 calc(-8.33 * var(--vwu, 1vw));
  min-height: calc(42.59 * var(--vwu, 1vw));
  font-size: calc(4.1 * var(--vwu, 1vw));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("../images/contents/bg_main_object.png") no-repeat 96% 20% / calc(44.15 * var(--vwu, 1vw)) auto;
}
.main .recently .title {
  font-size: calc(4.44 * var(--vwu, 1vw));
  font-weight: 700;
  position: relative;
  padding-left: calc(6.85 * var(--vwu, 1vw));
}
.main .recently .desc {
  word-break: keep-all;
  margin-top: calc(1.85 * var(--vwu, 1vw));
}
.main .recently .btn.result {
  /* box-shadow: calc(1.85 * var(--vwu, 1vw)) calc(1.85 * var(--vwu, 1vw)) calc(5.93 * var(--vwu, 1vw)) rgba(88, 123, 222, 1); */
  margin-top: calc(2.7 * var(--vwu, 1vw));
  color: #e3f2ff;
  width: auto;
  align-self: flex-start;
  padding: 0 calc(7.41 * var(--vwu, 1vw)) 0 calc(6.11 * var(--vwu, 1vw));
  height: calc(9.26 * var(--vwu, 1vw));
  line-height: 1;
  font-size: calc(3.33 * var(--vwu, 1vw));
  font-weight: 700;
  /* border: calc(0.37 * var(--vwu, 1vw)) solid #fff; */
  border-top-left-radius: calc(4.63 * var(--vwu, 1vw));
  border-bottom-left-radius: calc(4.63 * var(--vwu, 1vw));
  border-bottom-right-radius: calc(4.63 * var(--vwu, 1vw));
  background-color: #005d92;
}
.main .recently .btn.result span {
  /* background: url("../images/contents/btn_main_result.png") no-repeat 0 50% / calc(5.19 * var(--vwu, 1vw)) auto; */
  padding-left: calc(6.11 * var(--vwu, 1vw));
  position: relative;
}
.main .recently .btn.result span:before {
  content: "signal_cellular_alt";
  font-family: "Material Icons";
  font-size: 1rem !important;
  color: var(--sec-v1);
  position: absolute;
  left: 2px;
  top: -2px;
}

.main .recently .btn.qa {
  margin-top: calc(2.7 * var(--vwu, 1vw));
  color: #e3f2ff;
  width: auto;
  align-self: flex-start;
  padding: 0 calc(7.41 * var(--vwu, 1vw)) 0 calc(6.11 * var(--vwu, 1vw));
  height: calc(9.26 * var(--vwu, 1vw));
  line-height: 1;
  font-size: calc(3.33 * var(--vwu, 1vw));
  font-weight: 700;
  border-top-left-radius: calc(4.63 * var(--vwu, 1vw));
  border-bottom-left-radius: calc(4.63 * var(--vwu, 1vw));
  border-bottom-right-radius: calc(4.63 * var(--vwu, 1vw));
  background-color: #005d92;
}
.main .recently .btn.qa span {
  background: url("../images/contents/icon_talk.png") no-repeat 0 50% / calc(5 * var(--vwu, 1vw)) auto;
  padding-left: calc(7.11 * var(--vwu, 1vw));
  height: calc(5 * var(--vwu, 1vw));
  line-height: calc(5 * var(--vwu, 1vw));
}
.main .dataList {
  display: flex;
  flex-flow: row wrap nowrap;
  justify-content: space-between;
  gap: calc(4 * var(--vwu, 1vw));
  align-items: flex-start;
  margin-bottom: calc(4 * var(--vwu, 1vw));
}
.main .dataItem {
  /* padding: calc(2.78 * var(--vwu, 1vw)) calc(2.78 * var(--vwu, 1vw)); */
  display: inline-block;
  width: 50%;
}
.main .dataItem .inner {
  box-shadow: calc(0.93 * var(--vwu, 1vw)) calc(1.85 * var(--vwu, 1vw)) calc(3.7 * var(--vwu, 1vw)) rgba(64, 64, 64, 0.2);
  position: relative;
  display: block;
  height: calc(37.44 * var(--vwu, 1vw));
  padding: calc(4 * var(--vwu, 1vw));
  background-color: #e3f3ff;
  background-repeat: no-repeat;
  background-position: right calc(2.78 * var(--vwu, 1vw)) bottom calc(2.78 * var(--vwu, 1vw));
  background-size: calc(18.52 * var(--vwu, 1vw)) calc(18.52 * var(--vwu, 1vw));
  border-top-left-radius: calc(4.63 * var(--vwu, 1vw));
  border-bottom-left-radius: calc(4.63 * var(--vwu, 1vw));
  border-bottom-right-radius: calc(4.63 * var(--vwu, 1vw));
}
/* .main .dataItem .inner.data01 {
  background-image: url("../images/contents/bg_main_item01.svg");
} */
/* .main .dataItem .inner.data02 {
  background-image: url("../images/contents/bg_main_item02.svg");
} */
/* .main .dataItem .inner.data03 {
  background-image: url("../images/contents/bg_main_item03.svg");
} */
.main .dataItem .inner.data05 {
  background-image: url("../images/contents/bg_main_item05.png");
  background-repeat: no-repeat;
  background-position: center bottom 20%;
  background-size: 82%;
}
.main .dataItem .title {
  font-size: calc(4.1 * var(--vwu, 1vw));
  line-height: normal;
}
.main .dataItem .blood_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(1 * var(--vwu, 1vw));
}
.main .dataItem .arrow_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .dataItem .arrow_wrap .blood_arrow {
  font-size: calc(9.4 * var(--vwu, 1vw));
  font-weight: 700;
}
.main .dataItem .arrow_wrap .diff {
  font-size: calc(5.5 * var(--vwu, 1vw));
  font-weight: 500;
  line-height: normal;
  /* padding-top: 6px; */
}

.main .dataItem .count .cal_now {
  color: #0a58ca;
  font-size: calc(7.2 * var(--vwu, 1vw));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .dataItem .count .base_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.main .dataItem .count .cal_base {
  color: #6c757d;
  font-size: calc(5.2 * var(--vwu, 1vw));
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main .dataItem .count {
  line-height: 1;
  margin-top: calc(0.93 * var(--vwu, 1vw));
  /* font-size: 0; */
}
.main .dataItem .count .data {
  font-size: calc(10.4 * var(--vwu, 1vw));
  font-weight: 700;
  line-height: normal;
}
.main .dataItem .count .time {
  font-size: calc(4.2 * var(--vwu, 1vw));
  font-weight: 500;
  line-height: normal;
}

.main .dataItem .count .num {
  font-size: calc(8.33 * var(--vwu, 1vw));
  color: #218ecb;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
}
.main .dataItem .count > span {
  display: inline-block;
  font-size: calc(5.56 * var(--vwu, 1vw));
  vertical-align: middle;
  margin-bottom: calc(-1.48 * var(--vwu, 1vw));
  margin-left: calc(0.93 * var(--vwu, 1vw));
}
.main .dataItem .arrow {
  position: absolute;
  right: calc(2.7 * var(--vwu, 1vw));
  top: calc(2.7 * var(--vwu, 1vw));
  text-indent: -9999em;
  width: calc(5.85 * var(--vwu, 1vw));
  height: calc(5.85 * var(--vwu, 1vw));
  border-radius: 50%;
  background: #68baf2 url("../images/contents/arr_22_white.png") no-repeat 58% 50% / calc(1.8 * var(--vwu, 1vw)) auto;
}
.main .dataItem .ave_wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(2 * var(--vwu, 1vw));
}
.main .dataItem .ave_count {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main .dataItem .ave_count .title {
  font-size: calc(4.1 * var(--vwu, 1vw));
  font-weight: 500;
}
.main .dataItem .ave_count .data {
  font-size: calc(7.2 * var(--vwu, 1vw));
  font-weight: 700;
  line-height: normal;
  text-align: right;
  flex: 1;
}

.main .quickMenu {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.main .quickItem {
  flex: 1;
  text-align: center;
  font-size: calc(3.33 * var(--vwu, 1vw));
  color: #fff;
  font-weight: 700;
  position: relative;
}
.main .quickItem .icon {
  display: block;
  width: calc(15.56 * var(--vwu, 1vw));
  height: calc(15.56 * var(--vwu, 1vw));
  margin: 0 auto calc(1.85 * var(--vwu, 1vw));
  border-radius: 50%;
  box-shadow: calc(0.93 * var(--vwu, 1vw)) calc(1.85 * var(--vwu, 1vw)) calc(3.7 * var(--vwu, 1vw)) rgba(64, 64, 64, 0.2);
  background-color: #17c1b3;
  background-repeat: no-repeat;
  background-size: calc(7.56 * var(--vwu, 1vw)) auto;
}
.main .quickItem .icon.quick01 {
  background-image: url("../images/contents/icon_quick01.svg");
  background-position: 51% 50%;
}
.main .quickItem .icon.quick02 {
  background-image: url("../images/contents/icon_quick02.svg");
  background-position: 65% 50%;
}
.main .quickItem .icon.quick03 {
  background-image: url("../images/contents/icon_quick03.svg");
  background-position: 56% 50%;
}
.main .quickItem .icon.quick04 {
  background-image: url("../images/contents/icon_quick04.svg");
  background-position: 56% 50%;
}
.main .quickItem.new .icon {
  position: relative;
}
.main .quickItem.new .icon:after {
  content: "";
  width: calc(2.78 * var(--vwu, 1vw));
  height: calc(2.78 * var(--vwu, 1vw));
  border-radius: 50%;
  background: #f39100;
  position: absolute;
  top: calc(0.74 * var(--vwu, 1vw));
  right: calc(0.74 * var(--vwu, 1vw));
}

.processTemp .header {
  background: #344b8a;
  color: #fff;
  height: calc(12.04 * var(--vwu, 1vw));
}
.processTemp .header .alignTitle {
  padding: 0 calc(3.7 * var(--vwu, 1vw));
}
.processTemp .header .btnCancel {
  position: absolute;
  right: calc(3.7 * var(--vwu, 1vw));
  top: calc(3.15 * var(--vwu, 1vw));
  width: calc(12.04 * var(--vwu, 1vw));
  color: #fff;
  border: calc(0.19 * var(--vwu, 1vw)) solid #fff;
  padding: calc(0.56 * var(--vwu, 1vw)) 0;
  border-radius: calc(1.11 * var(--vwu, 1vw));
  font-size: calc(2.78 * var(--vwu, 1vw));
  text-align: center;
  height: calc(5.74 * var(--vwu, 1vw));
}

.menuWrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  transform: translateX(100%);
  transition: transform 700ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menuWrap.open {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}
.menuWrap .menuClose {
  /* text-indent: -9999em; */
  position: absolute;
  right: calc(2.96 * var(--vwu, 1vw));
  top: calc(2 * var(--vwu, 1vw));
  width: calc(5.56 * var(--vwu, 1vw));
  height: calc(5.56 * var(--vwu, 1vw));
}
.menuWrap .menuClose:before,
.menuWrap .menuClose:after {
  content: "";
  width: calc(0.37 * var(--vwu, 1vw));
  height: calc(4.63 * var(--vwu, 1vw));
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(-45deg);
  margin: calc(-2.22 * var(--vwu, 1vw)) 0 0 calc(-0.19 * var(--vwu, 1vw));
}
.menuWrap .menuClose:after {
  transform: rotate(45deg);
}
.menuWrap .topArea {
  background: #3d8bfd;
  color: #fff;
  padding: calc(7 * var(--vwu, 1vw)) 0;
  /* height: calc(30 * var(--vwu, 1vw)); */
}
.menuWrap .util {
  font-size: 0;
  padding: 0 calc(3.7 * var(--vwu, 1vw));
}
.menuWrap .util .item {
  text-indent: -9999em;
  position: relative;
  width: calc(5.56 * var(--vwu, 1vw));
  height: calc(5.56 * var(--vwu, 1vw));
  margin-left: calc(3.7 * var(--vwu, 1vw));
  display: inline-block;
  background-repeat: no-repeat;
  background-size: calc(5.56 * var(--vwu, 1vw)) auto;
  background-position: 50% 50%;
  cursor: pointer;
}
.menuWrap .util .item:first-child {
  margin-left: 0;
}
.menuWrap .util .item.home {
  background-image: url("../images/common/icon_util_home.png");
}
.menuWrap .util .item.notice {
  background-image: url("../images/common/icon_util_notice.png");
}
.menuWrap .util .item.setting {
  background-image: url("../images/common/icon_util_setting.png");
}
.menuWrap .util .item.info {
  background-image: url("../images/common/icon_quick_info.png");
}
.menuWrap .util .notice .new {
  width: calc(1.48 * var(--vwu, 1vw));
  height: calc(1.48 * var(--vwu, 1vw));
  border-radius: 50%;
  background: #f39100;
  position: absolute;
  right: calc(0.56 * var(--vwu, 1vw));
  top: calc(0.56 * var(--vwu, 1vw));
}
.menuWrap .user {
  padding: 0 calc(3.7 * var(--vwu, 1vw));
  position: relative;
  /* margin-top: calc(6.48 * var(--vwu, 1vw)); */
}
.menuWrap .user .name {
  font-size: calc(4.44 * var(--vwu, 1vw));
}
.menuWrap .user .name strong {
  font-weight: 500;
  font-size: calc(7 * var(--vwu, 1vw));
  margin-right: calc(0.56 * var(--vwu, 1vw));
}
.menuWrap .logout {
  position: absolute;
  font-size: calc(2.96 * var(--vwu, 1vw));
  right: calc(3.7 * var(--vwu, 1vw));
  top: calc(2 * var(--vwu, 1vw));
  color: #587fef;
  background: #c5d2f9;
  border-radius: calc(2.78 * var(--vwu, 1vw));
  padding: calc(0.56 * var(--vwu, 1vw)) calc(2.78 * var(--vwu, 1vw));
}
.menuWrap .commonMenu {
  font-size: 0;
  padding: 0 calc(0.93 * var(--vwu, 1vw));
  margin-top: calc(5.56 * var(--vwu, 1vw));
}
.menuWrap .commonMenu > li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.menuWrap .commonMenu .item {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  font-size: calc(3.6 * var(--vwu, 1vw));
  color: #fff;
  position: relative;
}
.menuWrap .commonMenu .item:before {
  /* content: ""; */
  margin: 0 auto;
  width: calc(13.7 * var(--vwu, 1vw));
  height: calc(13.7 * var(--vwu, 1vw));
  border-radius: 50%;
  border: calc(0.19 * var(--vwu, 1vw)) solid #fff;
  display: block;
  font-size: calc(8.2 * var(--vwu, 1vw)) !important;
  color: #fff;
  position: absolute;
  line-height: 170%;
  /* background-repeat: no-repeat; */
  /* background-size: calc(5.56 * var(--vwu, 1vw)) auto; */
  /* background-position: 50% 50%; */
}
.menuWrap .commonMenu .item.qr:before {
  /* background-image: url("../images/common/icon_quick_qr.png"); */
  content: "qr_code";
  font-family: "Material Icons";
}
.menuWrap .commonMenu .item.notice:before {
  /* background-image: url("../images/common/icon_quick_notice.png"); */
  content: "volume_up";
  font-family: "Material Icons";
}
.menuWrap .commonMenu .item.faq:before {
  /* background-image: url("../images/common/icon_quick_faq.png"); */
  content: "contact_support";
  font-family: "Material Icons";
}
.menuWrap .commonMenu .item.inquiry:before {
  /* background-image: url("../images/common/icon_quick_inquiry.png"); */
  content: "email";
  font-family: "Material Icons";
}
.menuWrap .commonMenu .item.info:before {
  /* background-image: url("../images/common/icon_quick_info.png"); */
  content: "manage_accounts";
  font-family: "Material Icons";
}
.menuWrap .commonMenu .item span {
  position: absolute;
  margin-top: calc(16 * var(--vwu, 1vw));
  display: block;
  text-align: center;
}
.menuWrap .menuList {
  height: calc(100% - calc(30 * var(--vwu, 1vw)));
  overflow-y: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: calc(4 * var(--vwu, 1vw));
  padding: calc(8 * var(--vwu, 1vw)) calc(4 * var(--vwu, 1vw));
}
.menuWrap .menuList .menu_row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: calc(4 * var(--vwu, 1vw));
}
.menuWrap .menuList .menu_box {
  border: 1px solid #ced4da;
  border-radius: 8px;
  display: flex;
  flex: 1;
  height: calc(44 * var(--vwu, 1vw));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(2 * var(--vwu, 1vw));
  flex-shrink: 0;
}
.menuWrap .menuList .menu_box_run {
  height: calc(22 * var(--vwu, 1vw));
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background: url("../images/common/bg_menu_run.png") no-repeat left calc(-10 * var(--vwu, 1vw)) center / 100% auto;
  position: relative;
  overflow: hidden;
  border: 1px solid #ced4da;
}
.menuWrap .menuList .menu_box_run:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 65%);
}
.menuWrap .menuList .menu_box_run > span {
  position: absolute;
  right: calc(12 * var(--vwu, 1vw));
  color: #3d8bfd;
  font-size: calc(5.2 * var(--vwu, 1vw));
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menuWrap .menuList .img_box img {
  width: calc(26 * var(--vwu, 1vw));
  height: calc(26 * var(--vwu, 1vw));
}
.menuWrap .menuList .menu_box span {
  color: #3d8bfd;
  font-size: calc(5.2 * var(--vwu, 1vw));
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* 기타 메뉴 리스트 */
.menuWrap .menuList .etc_menu_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: calc(2 * var(--vwu, 1vw)) calc(2 * var(--vwu, 1vw));
}
.menuWrap .menuList .etc_menu_list .etc_wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: calc(1 * var(--vwu, 1vw));
  width: calc(21.4 * var(--vwu, 1vw));
  height: calc(21.4 * var(--vwu, 1vw));
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: calc(2 * var(--vwu, 1vw));
}
.menuWrap .menuList .etc_menu_list .etc_wrap > img {
  width: calc(10.3 * var(--vwu, 1vw));
  height: calc(10.3 * var(--vwu, 1vw));
}
.menuWrap .menuList .etc_menu_list .etc_wrap > span {
  font-size: calc(4.1 * var(--vwu, 1vw));
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menuWrap .menuList .anchor {
  display: block;
}
.menuWrap .menuList .anchor.depth01 {
  font-size: calc(3.89 * var(--vwu, 1vw));
  border-bottom: calc(0.19 * var(--vwu, 1vw)) solid #c4c4c4;
  font-weight: 700;
  padding: calc(3.33 * var(--vwu, 1vw)) calc(4.44 * var(--vwu, 1vw)) calc(3.15 * var(--vwu, 1vw));
}
.menuWrap .menuList .anchor.depth01 span {
  padding-left: calc(7.04 * var(--vwu, 1vw));
}
.menuWrap .menuList .anchor.depth01 .icon01 {
  background: url("../images/common/icon_depth01_01.png") no-repeat 0 50% / calc(5.56 * var(--vwu, 1vw)) auto;
}
.menuWrap .menuList .anchor.depth01 .icon02 {
  background: url("../images/common/icon_depth01_02.png") no-repeat 0 50% / calc(5.56 * var(--vwu, 1vw)) auto;
}
.menuWrap .menuList .anchor.depth01 .icon03 {
  background: url("../images/common/icon_depth01_03.png") no-repeat 0 50% / calc(5.56 * var(--vwu, 1vw)) auto;
}
.menuWrap .menuList .anchor.depth02 {
  font-size: calc(3.8 * var(--vwu, 1vw));
  border-bottom: calc(0.19 * var(--vwu, 1vw)) solid #c4c4c4;
  background: #f4f7ff;
  padding: calc(3.52 * var(--vwu, 1vw)) calc(4.44 * var(--vwu, 1vw));
}
.menuWrap .menuList .anchor.arrow {
  background-position: right calc(3.7 * var(--vwu, 1vw)) top 50%;
}

/* 레이아웃 수정 2024-07-30 */

/* FA_00.html */
